@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
  color: #fff;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #151515;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.mh-screen {
  min-height: calc(100vh - 60px);
}

@media (max-width: 1440px) {
  .container {
    padding-inline: 20px;
  }
}

.group__img {
  width: 60px;
  height: 60px;
}
.group__info__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.chat__message {
  margin: 0 15px;
}

.chat__img {
  width: 50px;
  height: 50px;
}

.chat--left {
  position: relative;

  &::after {
    content: "";
    border-top: 10px solid currentColor;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid currentColor;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
}
.chat--right {
  position: relative;

  &::after {
    content: "";
    border-top: 10px solid currentColor;
    border-bottom: 10px solid transparent;
    border-left: 10px solid currentColor;
    border-right: 10px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }
}
